* {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #efefef;
}

header {
  background-color: #364552;
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-size: 1.2rem;
}

.imgs {
  width: 15rem;
  height: 15rem;
}

section {
  text-align: center;
  float: left;
  width: 80%;
  min-height: 68.75rem;
}

article {
  transition: box-shadow 0.25s ease;
  border-radius: 0.5rem;
  width: 15rem;
  display: inline-block;
  margin: 3.52rem;
  background-color: #fff;
}

article h2,
article p {
  margin: 1rem;
}

article:hover {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

aside {
  float: left;
  width: calc(20% - 2rem);
  background-color: #fff;
  height: 68.75rem;
  padding: 1rem;
}

footer {
  background-color: #222;
  color: #fff;
  height: 100px;
  margin: 0;
  line-height: 100px;
}

footer p {
  margin: 0 1rem;
}

footer a {
  transition: color 0.3s ease;
  float: right;
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}

section a:visited {
  color: #000;
}
